POSTGRES_DB=coursework_db
POSTGRES_USER=coursework
POSTGRES_PASSWORD=your-password-here

DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
# Для телефону в тій самій Wi‑Fi мережі додай IP компʼютера, напр. 192.168.1.42
