@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #E8EEF7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #14273D;
    font-weight: 500;
}

nav ul li a:hover {
    color: #5B7BC8;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #14273D;
    position: relative;
    padding-bottom: 0.5rem;
    margin: 2rem 0;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: #5B7BC8;
    transition: width 0.3s ease;
}

h1:hover::after {
    width: 200px;
}
.content-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    box-sizing: border-box;

}

.btn {
    display: inline-block;
    background-color: #203560;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #5B7BC8;
}

footer {
    background-color: #14273D;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}