<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Key requests</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}">
</head>
<body>
 <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Назад</a></li>
            </ul>
        </nav>
    </header>
 <h1>Запити на ключі</h1>
    {% if requests %}
    {% for req in requests %}
        <div class="container">
            <div class="card">
                <p><strong>Користувач:</strong> {{ req.user.name }} {{ req.user.surname }}</p>
                <p><strong>Ключ:</strong> {{ req.key.auditory }}</p>
                <p><strong>Час:</strong> {{ req.created_at }}</p>

                <form method="post" action="{% url 'approve_take_request' req.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Підтвердити</button>
                </form>

                <form method="post" action="{% url 'reject_key_request' req.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Відхилити</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Немає активних запитів.</p>
{% endif %}


<footer>
    <p>&copy; 2025 Courework.</p>
</footer>
</body>
</html>
