<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Key requests</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}">
</head>
<body>
 <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Назад</a></li>
            </ul>
        </nav>
    </header>
    <h1>Запити на ключі</h1>

    {% for req in requests %}
        <div style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
            <p><strong>Користувач:</strong> {{ req.user.name }} {{req.user.surname}}</p>
            <p><strong>Ключ:</strong> {{ req.key.auditory }}</p>
            <p><strong>Час:</strong> {{ req.created_at }}</p>

            <form method="post" action="{% url 'approve_put_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Підтвердити</button>
            </form>

            <form method="post" action="{% url 'reject_put_request' req.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Відхилити</button>
            </form>
        </div>
    {% empty %}
        <p>Немає активних запитів.</p>
    {% endfor %}

<footer>
    <p>&copy; 2025 Courework.</p>
</footer>
</body>
</html>
