<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile edit</title>
    <link rel="stylesheet" href="{% static 'style_home.css' %}">
</head>
<body>
<header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li><a href="{% url 'logout' %}">Вихід</a></li>
            </ul>
        </nav>
    </header>
<main class="container">

<div class="center">
    <h1>Редагувати профіль</h1>

    <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
            <input type="text" required name="email">
            <span></span>
            <label>Емейл</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Пароль</label>
        </div>
        <button type="submit" class="btn">Зберегти зміни</button>
        <a href="{% url 'home' %}" class="btn">Повернутися назад</a>
    </form>
</div>
</main>
<footer>
    <p>&copy; 2025 Coursework.</p>
</footer>

</body>
</html>
